In [1]:
import pandas as pd
from sqlalchemy import create_engine

# Extract CSV into DataFrame

In [2]:
file = 'athlete_events.csv'

In [3]:
olympics_info = pd.read_csv(file)
olympics_info.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

# Transform DataFrame

#    1) Create "Sport" DataFrame and Clean

In [4]:
# Create a filtered dataframe "Sport" from specific columns
sports_cols = ["Sport"]
sport_df= olympics_info[sports_cols].copy()

# Rename the column headers
# premise_transformed = premise_transformed.rename(columns={"License Serial Number": "id",
#                                                           "Premises Name": "premise_name",
#                                                           "County ID Code": "county_id"})



sport_df.head()

           Sport
0     Basketball
1           Judo
2       Football
3     Tug-Of-War
4  Speed Skating

In [5]:
# Stats 
sport_df.count()

Sport    271116
dtype: int64

In [6]:
# Find duplicates, if any
duplicateSportDF = sport_df[sport_df.duplicated()]

print("Duplicate Rows except first occurrence based on all columns are :")
print(duplicateSportDF)
print(duplicateSportDF.count())

Duplicate Rows except first occurrence based on all columns are :
                Sport
5       Speed Skating
6       Speed Skating
7       Speed Skating
8       Speed Skating
9       Speed Skating
...               ...
271111           Luge
271112    Ski Jumping
271113    Ski Jumping
271114      Bobsleigh
271115      Bobsleigh

[271050 rows x 1 columns]
Sport    271050
dtype: int64

In [7]:
# Clean the data by dropping duplicates 
sport_table = sport_df.drop_duplicates("Sport")

sport_table.head()

           Sport
0     Basketball
1           Judo
2       Football
3     Tug-Of-War
4  Speed Skating

In [8]:
# Clean df stats
print(sport_table.count())

Sport    66
dtype: int64

#   2) Create "Event" DataFrame and Clean

In [9]:
# Create a filtered dataframe "Events" from specific columns
events_cols = ["Sport", "Event"]
event_df = pd.DataFrame(olympics_info, columns= ["Sport", "Event"].copy())

# Rename the column headers
# premise_transformed = premise_transformed.rename(columns={"License Serial Number": "id",
#                                                           "Premises Name": "premise_name",
#                                                           "County ID Code": "county_id"})


event_df.head()

           Sport                             Event
0     Basketball       Basketball Men's Basketball
1           Judo      Judo Men's Extra-Lightweight
2       Football           Football Men's Football
3     Tug-Of-War       Tug-Of-War Men's Tug-Of-War
4  Speed Skating  Speed Skating Women's 500 metres

In [10]:
# Stats
print(event_df.count())

Sport    271116
Event    271116
dtype: int64

In [11]:
# Find duplicates, if any based on the Event column
duplicateEventDF = event_df[event_df.duplicated(['Event'])]
sort_by_event = duplicateEventDF.sort_values('Event')

print("Duplicate Rows except first occurrence based the Event column are :")
print(sort_by_event.head())
print(sort_by_event.count())

Duplicate Rows except first occurrence based the Event column are :
                Sport                         Event
85467   Alpine Skiing  Alpine Skiing Men's Combined
70241   Alpine Skiing  Alpine Skiing Men's Combined
58962   Alpine Skiing  Alpine Skiing Men's Combined
154995  Alpine Skiing  Alpine Skiing Men's Combined
70243   Alpine Skiing  Alpine Skiing Men's Combined
Sport    270351
Event    270351
dtype: int64

In [12]:
# Clean the data by dropping duplicates and setting the index
event_df.drop_duplicates("Event", inplace=True)
# premise_transformed.set_index("id", inplace=True)

event_df.head()

           Sport                             Event
0     Basketball       Basketball Men's Basketball
1           Judo      Judo Men's Extra-Lightweight
2       Football           Football Men's Football
3     Tug-Of-War       Tug-Of-War Men's Tug-Of-War
4  Speed Skating  Speed Skating Women's 500 metres

In [13]:
g_by_sport = event_df.groupby("Sport")["Event"].count()
print(g_by_sport)

Sport
Aeronautics          1
Alpine Skiing       10
Alpinism             1
Archery             29
Art Competitions    29
                    ..
Tug-Of-War           1
Volleyball           2
Water Polo           2
Weightlifting       21
Wrestling           30
Name: Event, Length: 66, dtype: int64

In [14]:
# Clean df stats
print(event_df.count())

Sport    765
Event    765
dtype: int64

# Cleaning start

In [24]:
event_df[event_df['Sport'].str.contains(r'Ski(?!$)')]

,Sport,Event,name_updated,name_updated_2
10,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,Men's 10 kilometres,Country Skiing Men's 10 kilometres
11,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,Men's 50 kilometres,Country Skiing Men's 50 kilometres
12,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,Men's 10/15 kilometres Pursuit,Country Skiing Men's 10/15 kilometres Pursuit
13,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,Men's 4 x 10 kilometres Relay,Country Skiing Men's 4 x 10 kilometres Relay
15,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,Men's 30 kilometres,Country Skiing Men's 30 kilometres
59,Alpine Skiing,Alpine Skiing Men's Downhill,Men's Downhill,Skiing Men's Downhill
60,Alpine Skiing,Alpine Skiing Men's Super G,Men's Super G,Skiing Men's Super G
61,Alpine Skiing,Alpine Skiing Men's Giant Slalom,Men's Giant Slalom,Skiing Men's Giant Slalom
62,Alpine Skiing,Alpine Skiing Men's Slalom,Men's Slalom,Skiing Men's Slalom
67,Alpine Skiing,Alpine Skiing Men's Combined,Men's Combined,Skiing Men's Combined
121,Cross Country Skiing,Cross Country Skiing Men's 15 kilometres,Men's 15 kilometres,Country Skiing Men's 15 kilometres
252,Alpine Skiing,Alpine Skiing Women's Slalom,Women's Slalom,Skiing Women's Slalom
726,Freestyle Skiing,Freestyle Skiing Men's Moguls,Men's Moguls,Skiing Men's Moguls
782,Freestyle Skiing,Freestyle Skiing Men's Aerials,Men's Aerials,Skiing Men's Aerials
808,Alpine Skiing,Alpine Skiing Women's Giant Slalom,Women's Giant Slalom,Skiing Women's Giant Slalom
809,Alpine Skiing,Alpine Skiing Women's Super G,Women's Super G,Skiing Women's Super G
815,Cross Country Skiing,Cross Country Skiing Women's 5 kilometres,Women's 5 kilometres,Country Skiing Women's 5 kilometres
816,Cross Country Skiing,Cross Country Skiing Women's 10 kilometres,Women's 10 kilometres,Country Skiing Women's 10 kilometres
817,Cross Country Skiing,Cross Country Skiing Women's 20 kilometres,Women's 20 kilometres,Country Skiing Women's 20 kilometres
976,Cross Country Skiing,Cross Country Skiing Men's Sprint,Men's Sprint,Country Skiing Men's Sprint
1210,Cross Country Skiing,Cross Country Skiing Women's 3 x 5 kilometres ...,Women's 3 x 5 kilometres Relay,Country Skiing Women's 3 x 5 kilometres Relay
1310,Alpine Skiing,Alpine Skiing Women's Combined,Women's Combined,Skiing Women's Combined
1326,Ski Jumping,"Ski Jumping Men's Normal Hill, Individual","Men's Normal Hill, Individual","Jumping Men's Normal Hill, Individual"
1641,Freestyle Skiing,Freestyle Skiing Men's Slopestyle,Men's Slopestyle,Skiing Men's Slopestyle
1792,Alpine Skiing,Alpine Skiing Women's Downhill,Women's Downhill,Skiing Women's Downhill
1915,Freestyle Skiing,Freestyle Skiing Women's Halfpipe,Women's Halfpipe,Skiing Women's Halfpipe
1952,Cross Country Skiing,Cross Country Skiing Men's 18 kilometres,Men's 18 kilometres,Country Skiing Men's 18 kilometres
2157,Cross Country Skiing,Cross Country Skiing Women's 30 kilometres,Women's 30 kilometres,Country Skiing Women's 30 kilometres
2158,Cross Country Skiing,Cross Country Skiing Women's 15 km Skiathlon,Women's 15 km Skiathlon,Country Skiing Women's 15 km Skiathlon
2550,Ski Jumping,"Ski Jumping Men's Large Hill, Individual","Men's Large Hill, Individual","Jumping Men's Large Hill, Individual"
2551,Ski Jumping,"Ski Jumping Men's Large Hill, Team","Men's Large Hill, Team","Jumping Men's Large Hill, Team"
2697,Freestyle Skiing,Freestyle Skiing Women's Aerials,Women's Aerials,Skiing Women's Aerials
4135,Cross Country Skiing,Cross Country Skiing Women's 5/10 kilometres P...,Women's 5/10 kilometres Pursuit,Country Skiing Women's 5/10 kilometres Pursuit
4136,Cross Country Skiing,Cross Country Skiing Women's 4 x 5 kilometres ...,Women's 4 x 5 kilometres Relay,Country Skiing Women's 4 x 5 kilometres Relay
4137,Cross Country Skiing,Cross Country Skiing Women's 15 kilometres,Women's 15 kilometres,Country Skiing Women's 15 kilometres
4145,Cross Country Skiing,Cross Country Skiing Women's 5/5 kilometres Pu...,Women's 5/5 kilometres Pursuit,Country Skiing Women's 5/5 kilometres Pursuit
4889,Freestyle Skiing,Freestyle Skiing Women's Moguls,Women's Moguls,Skiing Women's Moguls
5430,Cross Country Skiing,Cross Country Skiing Men's 10/10 kilometres Pu...,Men's 10/10 kilometres Pursuit,Country Skiing Men's 10/10 kilometres Pursuit
5485,Ski Jumping,"Ski Jumping Women's Normal Hill, Individual","Women's Normal Hill, Individual","Jumping Women's Normal Hill, Individual"
5782,Cross Country Skiing,Cross Country Skiing Men's Team Sprint,Men's Team Sprint,Country Skiing Men's Team Sprint
6182,Cross Country Skiing,Cross Country Skiing Women's Sprint,Women's Sprint,Country Skiing Women's Sprint
7060,Cross Country Skiing,Cross Country Skiing Women's Team Sprint,Women's Team Sprint,Country Skiing Women's Team Sprint
7379,Cross Country Skiing,Cross Country Skiing Men's 30 km Skiathlon,Men's 30 km Skiathlon,Country Skiing Men's 30 km Skiathlon
10854,Military Ski Patrol,Military Ski Patrol Men's Military Ski Patrol,Men's,Ski Patrol Men's Military Ski Patrol
12763,Freestyle Skiing,Freestyle Skiing Women's Slopestyle,Women's Slopestyle,Skiing Women's Slopestyle
14827,Freestyle Skiing,Freestyle Skiing Women's Ski Cross,Women's Ski Cross,Skiing Women's Ski Cross
14883,Freestyle Skiing,Freestyle Skiing Men's Ski Cross,Men's Ski Cross,Skiing Men's Ski Cross
20654,Freestyle Skiing,Freestyle Skiing Men's Halfpipe,Men's Halfpipe,Skiing Men's Halfpipe

In [16]:
event_df['name_updated'] = event_df.apply(lambda row : row['Event'].replace(str(row['Sport']), ' '), axis=1)
event_df

,Sport,Event,name_updated
0,Basketball,Basketball Men's Basketball,Men's
1,Judo,Judo Men's Extra-Lightweight,Men's Extra-Lightweight
2,Football,Football Men's Football,Men's
3,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Men's
4,Speed Skating,Speed Skating Women's 500 metres,Women's 500 metres
...,...,...,...
128473,Weightlifting,Weightlifting Men's All-Around Dumbbell Contest,Men's All-Around Dumbbell Contest
186911,Archery,"Archery Men's Au Chapelet, 33 metres","Men's Au Chapelet, 33 metres"
186912,Archery,"Archery Men's Au Cordon Dore, 33 metres","Men's Au Cordon Dore, 33 metres"
194996,Archery,"Archery Men's Target Archery, 28 metres, Indiv...","Men's Target , 28 metres, Individual"
214105,Aeronautics,Aeronautics Mixed Aeronautics,Mixed

In [17]:
# #1 Split string in "event column" (sport from event description) and keep only event description
name_updated1 = event_df['name_updated'] = event_df.apply(lambda row : row['Event'].replace(str(row['Sport']), ' '), axis=1)
name_updated_df = pd.DataFrame(name_updated1)
name_updated_df.head()

                           0
0                    Men's
1    Men's Extra-Lightweight
2                    Men's
3                    Men's
4         Women's 500 metres

In [18]:
# #2 Split string in "event column" (sport from event description) and keep only event description
name_updated2 = event_df["Event"].str.split(" ", n = 1, expand = True) 
name_updated2_df = pd.DataFrame(name_updated2)
name_updated2_df

                    0                                            1
0          Basketball                             Men's Basketball
1                Judo                      Men's Extra-Lightweight
2            Football                               Men's Football
3          Tug-Of-War                             Men's Tug-Of-War
4               Speed                   Skating Women's 500 metres
...               ...                                          ...
128473  Weightlifting            Men's All-Around Dumbbell Contest
186911        Archery                 Men's Au Chapelet, 33 metres
186912        Archery              Men's Au Cordon Dore, 33 metres
194996        Archery  Men's Target Archery, 28 metres, Individual
214105    Aeronautics                            Mixed Aeronautics

[765 rows x 2 columns]

In [25]:
event_df['name_updated_2'] = name_updated2_df[1]
event_df.sort_values('name_updated_2')

,Sport,Event,name_updated,name_updated_2
634,Nordic Combined,Nordic Combined Men's Individual,Men's Individual,Combined Men's Individual
16145,Nordic Combined,"Nordic Combined Men's Large Hill / 10 km, Indi...","Men's Large Hill / 10 km, Individual","Combined Men's Large Hill / 10 km, Individual"
16144,Nordic Combined,"Nordic Combined Men's Normal Hill / 10 km, Ind...","Men's Normal Hill / 10 km, Individual","Combined Men's Normal Hill / 10 km, Individual"
1246,Nordic Combined,Nordic Combined Men's Sprint,Men's Sprint,Combined Men's Sprint
633,Nordic Combined,Nordic Combined Men's Team,Men's Team,Combined Men's Team
...,...,...,...,...
447,Volleyball,Volleyball Women's Volleyball,Women's,Women's Volleyball
3546,Taekwondo,Taekwondo Women's Welterweight,Women's Welterweight,Women's Welterweight
32,Sailing,Sailing Women's Windsurfer,Women's Windsurfer,Women's Windsurfer
549,Fencing,"Fencing Women's epee, Individual","Women's epee, Individual","Women's epee, Individual"
6556,Fencing,"Fencing Women's epee, Team","Women's epee, Team","Women's epee, Team"

In [ ]:
event_df.drop(columns=[])

# Create database connection

In [ ]:
connection_string = f'{username}:{password}@localhost:5432/customer_db'
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
# Confirm tables
engine.table_names()

# Load DataFrames into database

In [ ]:
county_transformed.to_sql(name='county', con=engine, if_exists='append', index=True)

In [ ]:
premise_transformed.to_sql(name='premise', con=engine, if_exists='append', index=True)